* {
  font-family: Courier New;
  margin: 0;
}

#table {
  border-collapse: collapse;
}

#table td {
  padding: 5px;
}

#main{
    width: 99%;
    height: 100vh;
    margin-inline: 5px;
    display: grid;
    grid-template-areas: "topbar" "container";
    border: 1px solid blue;
}
#topBar{
    grid-area: topbar;
    height: 40px;
    width: 100%;
    border: 1px solid;
    margin-inline: 2px;
}
.container{
    grid-area: container;
    border: 1px solid;
    width: 90vh;
    height: auto;
}