* {
  font-family: Courier New;
  margin: 0px;
  box-sizing: border-box;
}

body{
  backdrop-filter: blur(5px);
  background-color: rgb(221, 224, 230);
}

#container{
  width: 100vw;
  height: 100vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#topBar{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#authBtn{
  position: absolute;
  right: 60px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.container{
  width: 100%;
  height: auto;
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

#data{
  width: 650px;
  border: 2px solid;
  border-radius: 15px;
  box-shadow: 10px 5px 5px red;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
#data .card{
  width: 550px;
  height: 70px;
  display: flex;
  flex-direction: row;
  border: 2px solid;
  border-radius: 10px;
}

.inputEvent{
  width: 50%;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(7, auto);
}
.Task{
  grid-column: 2 / span 10;
  grid-row: 2 / span 1;
  border: 2px solid;
}
.Time{
  grid-column: 2 / span 5;
  grid-row: 4 / span 1;
  border: 2px solid;
}
.add{
  grid-column: 8 / span 2;
  grid-row: 4 / span 1;
  background-color: rgb(45, 108, 245);
  color: white;
} 