* {
  font-family: Courier New;
  padding: 0px;
  margin: 0px;
}

#table {
  border-collapse: collapse;
}

#table td {
  padding: 5px;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#container{
  width: 99vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "topbar" "container";
  border: 1px solid blue;
}
#topBar{
  grid-area: topbar;
  height: 40px;
  margin: 5px 5px;
  border: 1px solid;
}
.container{
  grid-area: container;
  border: 1px solid;
  height: auto;
  margin: 5px 5px;
}