* {
  font-family: Courier New;
  padding: 0px;
  margin: 0px;
}

#table {
  width: 70%;
  height: auto;
  border-collapse: collapse;
}

#table td {
  padding: 5px;
}
.deletebtn,
.check{
  text-align: center;
  width: 10px;
}
.time{
  text-align: center;
  max-width: 100px;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#container{
  width: 99vw;
  height: 100vh;
  padding-inline: 5px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid blue;
}
#topBar{
  width: 100%;
  height: 50px;
  margin:5px 0px;
  border: 1px solid;
}
.container{
  width: 100%;
  flex-grow: 1;
  border: 1px solid;
  height: inherit;
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}